@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  /* Slate 900 */
  --background-start-rgb: 248, 250, 252;
  /* Slate 50 */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom Utilities */
.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}