@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 247, 255;
  --accent-orange: 255, 126, 54;
  /* #FF7E36 */
  --accent-green: 34, 197, 94;
  /* #22C55E */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  background-image:
    linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom Utilities */
.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}